* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-statusCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 60em) {
  .container-statusCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
